/nD-EVM/build/
/nD-EVM/dist/
/nD-EVM/EVMFiles/
/nD-EVM/2DTest/
/nD-EVM/3DTest/
/nD-EVM/4DTest/
/nD-EVM/5DTest/
/nD-EVM/6DTest/
/nD-EVM/7DTest/
/nD-EVM/Tests/
/nD-EVM/rawFiles/
/nD-EVM/Images/
/nD-EVM/Sequences/
/nD-EVM/DataSets/
/ImageProcessing/nbproject/private/
/ImageProcessing/build/
/ImageProcessing/Sequences/
/nD-EVM/dcFiles/